[submodule "tktdd-rust"]
	path = tktdd-rust
	url = https://github.com/LilleCraft/tktdd-rust.git
	branch = master
[submodule "tktdd-kotlin"]
	path = tktdd-kotlin
	url = https://github.com/LilleCraft/tktdd-kotlin.git
	branch = master
[submodule "tktdd-ocaml"]
	path = tktdd-ocaml
	url = https://github.com/LilleCraft/tktdd-ocaml.git
	branch = master
[submodule "tktdd-reasonml-bs"]
	path = tktdd-reasonml-bs
	url = https://github.com/LilleCraft/tktdd-reasonml-bs.git
	branch = master
